hr.judul{
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 0.25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.card:focus, .card:hover {
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.09), 0 4px 15px 0 rgba(0, 0, 0, 0.07);
transform: scale(1.02);
}

.berita-card{
    height: 400px !important;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 24px 25px 0px -15px rgba(191,178,191,0.18);
    -moz-box-shadow: 24px 25px 0px -15px rgba(191,178,191,0.18);
    box-shadow: 24px 25px 0px -15px rgba(191,178,191,0.18);
}
.berita-button{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
}

/* banner */
.header-banner{
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-title{
    color:white;
    font-size: 50px;
}
.header-subtitle{
    color:white;
    font-size: 20px;
}

/* icon pelayanan */
.icon-layanan{
    background-color: #E6E5E3;
    color: blue;
    font-size: 50px;
    padding: 20px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
}
.slick-slide {
    outline: none
}

/* arrow icon pelayanan */
.arrow_next{
    position: absolute;
    top: 30%;
    left: -10px;
    color:blueviolet;

}

.arrow_prev{
    position: absolute;
    top: 30%;
    right: -10px;
    color:blueviolet;

}


/* position vertica center */
.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}




@media only screen and (max-width: 600px) {
.header-banner{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-title{
    font-size: 20px;
}
.header-subtitle{
    font-size: 10px;
}
.icon-layanan{
    background-color: #E6E5E3;
    color: blue;
    font-size: 25px;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
}
